/* Estilo general */
.footer {
    background-color: #2E2714;
    color: #d43737;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.h3-footer {
    font-size: 25px;
    color: white;
}

.links, .p-footer {
    color: #a39e9e;
    margin: 40px 0;
}

.links, .about, .contac {
    flex: 1;
    margin: 30px;
}

.about, .p-footer {
    color: white;
}

.ul-footer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.li-footer {
    margin-bottom: 5px;
}

.link-footer {
    text-decoration: none;
    color: #D4AF37;
    transition: color 0.3s ease;
}

.link-footer:hover {
    color: #D4A53A;
    transform: scale(1.1);
}

.li-footer {
    transition: transform 0.3s ease-in-out;
}

.li-footer:hover {
    transform: scale(1.1);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links, .about, .contac {
        flex: none;
        width: 100%;
        margin: 20px 0;
    }

    .h3-footer {
        font-size: 20px;
    }

    .link-footer {
        font-size: 14px;
    }

    .p-footer {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

/* Media Queries para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .footer {
        padding: 10px;
    }

    .links, .about, .contac {
        margin: 15px 0;
    }

    .h3-footer {
        font-size: 18px;
    }

    .link-footer {
        font-size: 12px;
    }

    .p-footer {
        font-size: 12px;
    }
}

/* Estilos para iconos de redes sociales */
.social-media {
    flex: 1;
    margin: 30px;
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.social-link {
    color: #D4AF37;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
    color: #D4A53A;
    transform: scale(1.2);
}
