.header {
    background-color: #D4AF37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    min-height: 100%;

}


.img-logo{
    height: 50px;
}
.nav {
    display: flex;
    gap: 40px;
    
}

/* cabecera */
.link , .links {
    background-color: #7B0323;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    
}

.link:hover  {
    background-color: #99042c;
    transform: scale(1.3);
    
}


.nav .link.contact {
    background-color: #F8E6A3;
    color: black;
}
.nav .link:hover.contact {
    background-color: rgba(255, 255, 255, 0.766);
}
.carrito{
    
    color:white;
}

@keyframes rotacionInfinita {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1440deg) scale(1.6);
    }
}
.img-logo:hover{
    animation: rotacionInfinita 10s  linear infinite ;
}

.cart-login {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.link.login {
    background-color: #99042c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cart-login  {
    
    height: 40px;
}
.img{
    height: 40px;
}

.carrito{
    background-color: black;
    padding: 1px;
    border-radius: 5px;
    
}
.login {
    background-color: #7B0323;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}



.login:hover{
    transform: scale(1.3);
    background-color: #99042c;
}
.carrito:hover{
    transform: scale(1.3);
}

.link:hover {
    background-color: #99042c;
}

@media (max-width: 859px){
 .nav{ 
    display: flex;
    gap: 6px;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}
}
@media (max-width: 484px){
    .cart-login{ 
        display: flex;
        gap: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
    min-height: 100%;
    }
   }

    
